<!DOCTYPE html>
<html ng-app="cveApp">
<head>
    <meta charset="utf-8" />
    <title>CVE Filter</title>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-resource.min.js"></script>
    <script src="AngularControllers/index.js"></script>
    <link rel="stylesheet" href="Content/Site.css" />
</head>
<body ng-controller="IndexController">
    <input type="radio" name="sev" ng-click="filter('')" checked /> ALL
    <input type="radio" name="sev" ng-click="filter('CRITICAL')" />CRITICAL
    <input type="radio" name="sev" ng-click="filter('HIGH')" />HIGH
    <input type="radio" name="sev" ng-click="filter('MEDIUM')" />MEDIUM
    <input type="radio" name="sev" ng-click="filter('LOW')" />LOW
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Severity</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="vuln in vulns.items">
                <td>{{vuln.ID}}</td>
                <td>{{vuln.severity}}</td>
                <td>{{vuln.description}}</td>
            </tr>
        </tbody>
    </table>
    <a id="prev" href="" ng-click="prevPage()">&lt; Prev</a> &nbsp; &nbsp;
    <a id="prev" href="" ng-click="nextPage()">Next &gt;</a>
</body>
</html>